<footer>
  <div id="footer_logo">
    <span id="footer_logo_first_name"><%= t("footer.first_name").upcase %></span>
    <img src="/assets/logo_weiss_transparent.PNG" id="footer_logo_img">
    <span id="footer_logo_last_name"><%= t("footer.last_name").upcase %></span>
  </div>

  <div id="footer_links">
    <%= link_to t("footer.links.home"), '#'%>
    <%= link_to t("footer.links.portfolio"), '#'%>
    <%= link_to t("footer.links.about"), '#'%>
    <%= link_to t("footer.links.resume"), '#'%>
    <%= link_to t("footer.links.blog"), '#'%>
    <%= link_to t("footer.links.contact"), '#'%>
  </div>

  <div id="footer_copyright">
    <%= t("footer.copyright")%>
  </div>

  <div id="footer_social_media">
    <a href="https://www.facebook.com/hermann.wagner.35" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/in/hermann-wagner-b669a37a" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/Hermi999" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.xing.com/profile/Hermann_Wagner24" target="_blank">
      <i class="fa fa-xing"></i>
    </a>
    <a href="mailto: hermann.wagner01@gmx.at" target="_blank">
      <i class="fa fa-envelope"></i>
    </a>
  </div>
</footer>
